.order-now-btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: white;
  background: #f7931e;
  cursor: pointer;
}

.order-now-btn:hover {
  scale: 1.1;
}
.cart-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-bottom: 2px dashed #878683;
  border-width: 80%;
}
.cart-container {
  background-color: #f9fbfe;
  border-radius: 8px;
  min-height: 500px;
  width: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .cart-container {
    border-radius: 18px;
    min-height: 500px;
    padding: 60px;
  }
}

.row-names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}
.row-name {
  width: 35%;
  text-align: center;
  font-size: 18px;
}
.row-name-price {
  width: 30%;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  .row-name {
    width: 33%;
    text-align: center;
    font-size: 24px;
  }
  .row-name-price {
    width: 33%;
    text-align: center;
    font-size: 24px;
  }
}

.cart-value-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 40px;
}
.remove-all-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
  margin-bottom: 30px;
}
.remove-all-button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: white;
  background: #e3719b;
  cursor: pointer;
}
.remove-all-button:hover {
  scale: 1.2;
}
.total-price {
  font-size: 24px;
  font-weight: 500;
}
