.restaurant-list-item {
  height: 160px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 22px;
  margin-bottom: 52px;
  padding: 10px;
}
.restaurant-image {
  height: 160px;
  width: 220px;
  margin-right: 8px;
  border-radius: 8px;
}
.restaurant-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.link-item {
  text-decoration: none;
  color: black;
}
.restaurant-name {
  font-weight: 500;
}
.cuisine {
  font-size: 12px;
}
.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating-icon {
  color: #dbb240;
}
