.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}
.count-value {
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .counter {
    width: 40%;
  }
}
