.restaurant-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px;
}
.home-page-container {
  min-height: 100vh;
  width: 100%;
}
.select-element {
  height: 50px;
  width: 120px;
  padding: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}
.option-element {
  font-size: 24px;
}
.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.selector-container {
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 180px;
}
.page-selection-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  margin: auto;
}
.filter-bar {
  display: flex;
  flex-direction: column;
}
.about-and-filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 30px;
}
@media (min-width: 768px) {
  .page-selection-container {
    width: 40%;
  }
  .about-and-filter {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }
}
.page-number {
  padding: 30px;
  font-size: 22px;
  font-weight: 500;
}
.restaurants-about {
  font-size: 20px;
}
.restaurants-heading {
  height: 36px;
  font-size: 32px;
  padding-left: 30px;
}
