.carousal-image {
  height: 380px;
  width: 95%;
  margin: 40px;
}
.carousal-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.offer-list {
  list-style-type: none;
}
