.logo-name {
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0px;
}
.footer-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25%;
  color: white;
  padding-top: 10px;
  padding-bottom: 0px;
}
.footer-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-buttons-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .social-buttons-container {
    width: 16%;
  }
  .footer-container {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.social-icon {
  font-size: 36px;
}
